<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samsproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.OrderViewActivity"></activity>
        <activity
            android:name=".Activities.AddRolesActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activities.RolesActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activities.CategoryActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".Activities.AddCategory" />
        <activity
            android:name=".ItemViewActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".AdminTableLists" />
        <activity android:name=".CreateTable" />
        <activity android:name=".Addcategory" />
        <activity android:name=".UsersList" />
        <activity android:name=".Addstaff" />
        <activity
            android:name=".Additem"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activities.HomepageActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Admin.Item"
            android:theme="@style/AppTheme.FullScreen" />
    </application>

</manifest>